.btn-add-new-post {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.no-posts-here {
  text-align: center;
}

.post {}

.post .post__meta {
  font-weight: bold;
  text-align: right;
  padding-bottom: 19px;
}

.post .post__meta a:hover {
  text-decoration: none;
}

.account {}

.account .account__header {
  margin-bottom: 20px;
  text-align: center;
}

.account .account__username {
  font-weight: bold;
}

.search-textbox{
    float:left;
    padding:0.3em 2em 0em;
    display:inline-block;
    position: relative;
    width: 30em;
}

.search-input{
    padding:0.5em 0.5em 0.5em;
    display:inline-block;
    width:100%;
}
